<div class="se-pre-con" *ngIf="loder"></div>
<div class="page-header">
    <h3 class="page-title"> {{moduleName}} </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"> {{moduleName}} </a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
      </ol>
    </nav>
  </div>



  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- <h3>{{moduleName}} Detail</h3>  -->
        <!-- <br>
        <br> -->
        <div [innerHTML]="contents"></div>
          <br>
        <div class="form-group row no-padding" *ngIf="moduleName == 'HelpDesk'">
          <label class="col-sm-2 control-label no-padding-right">
            Add Comment
          </label>
          <div class="col-sm-10 dvtCellInfo" align="left" style="background-color:none;">
            <textarea name="comments" [(ngModel)]="cmnt" style="width:100%;"></textarea><br><br>
            <input [disabled]="cmnt ==''" class="btn  btn-success" title="Submit" (click)="addCmnt()"  name="submit" value="Submit"  type="button" >
          </div>
        </div>

        <div class="form-group" *ngIf="moduleName == 'HelpDesk'">
           
          <div class="widget-header">
            <h5 class="widget-title">Attachments</h5>
          </div>

          <div class="row" *ngFor="let img of files;">
            <div class="col-md-4">
              <img  style="    width: 150px;
              margin-bottom: 10px;" src="{{img.filepath}}" alt="">
            </div>
            <div class="col-md-3">
              {{img.label}}
            </div>
            <div class="col-md-3">
              {{img.createdtime}}
            </div>
            <div class="col-md-2"> 
            </div>
          </div>
          
          
          <input type="file" #img   (change)="upld.value = img.value; onSelectedFile($event);" name="img[]" class="file-upload-default">
          <div class="input-group col-xs-12">
            <input type="text"  #upld   class="form-control file-upload-info" disabled="" placeholder="Attach File :">
            <span class="input-group-append">
              <button (click)="img.click()" class="file-upload-browse btn btn-gradient-primary" type="button">Attach</button>
            </span> 
          </div>
          <br>
          <button (click)="onSubmit(); upld.value=null;" class="file-upload-browse btn btn-gradient-success" type="button">Upload</button>
        </div>

        <div class="row" *ngIf="listVals!=null">
            <div class="col-md-6" *ngFor="let item of listVals">
                <b>{{item.fieldlabel}}</b>
                <p>{{item.fieldvalue}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>