<div class="se-pre-con" *ngIf="loder"></div>
<div class="page-header">
    <h3 class="page-title"> {{moduleName}} </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/"> {{moduleName}} </a></li>
        <li class="breadcrumb-item active" aria-current="page">Details</li>
      </ol>
    </nav>
  </div>



  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <!-- <h3>{{moduleName}} Detail</h3>  -->
        <!-- <br>
        <br> -->
        <div [innerHTML]="contents"></div>
          <br>
        <div class="form-group row no-padding">
          <label class="col-sm-2 control-label no-padding-right">
            Add Comment
          </label>
          <div class="col-sm-10 dvtCellInfo" align="left" style="background-color:none;">
            <textarea name="comments" [(ngModel)]="cmnt" style="width:100%;"></textarea><br><br>
            <input [disabled]="cmnt ==''" class="btn  btn-success" title="Submit" (click)="addCmnt()"  name="submit" value="Submit"  type="button" >
          </div>
        </div>

        <div class="row" *ngIf="listVals!=null">
            <div class="col-md-6" *ngFor="let item of listVals">
                <b>{{item.fieldlabel}}</b>
                <p>{{item.fieldvalue}}</p>
            </div>
        </div>
      </div>
    </div>
  </div>