<div class="se-pre-con" *ngIf="loder"></div>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center auth">
            <div class="row flex-grow">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left p-5">
                  <div class="brand-logo">
                    <!-- <img src="assets/images/logo.svg"> -->
                    <img src="assets/images/TPS.png" alt="logo" />
                  </div> 
                  <h6 class="font-weight-light">Enter Your Email to get Password</h6>
                  <form class="pt-3" #forForm="ngForm" (ngSubmit)="forgotpassword(forForm.value)"> 
                    <div class="form-group">
                      <input type="email" name="email" ngModel required class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Email">
                    </div>
                     
                    <input type="hidden" name="module" ngModel="user">
                    <input type="hidden" name="view" ngModel="forgot_passwod">
                    <div class="mt-3">
                      <button type="submit" [disabled]="!forForm.valid" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn"> Submit</button>
                    </div>
                    <div class="text-center mt-4 font-weight-light"> Already have an account? <a routerLink="/login" class="text-primary">Login</a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>
      