 
   <router-outlet *ngIf="!user"></router-outlet>
   
    <div class="container-scroller" *ngIf="user">
    
     <app-header></app-header>
  
      <div class="container-fluid page-body-wrapper">
      
       <app-sidebar></app-sidebar>
       
        <div class="main-panel">
          <div class="content-wrapper">
           <br><br>
            
            <router-outlet></router-outlet>
           
          </div>
        
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2020 <a href="#" target="_blank">Print Shop</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Developed by myEnterPrise <i class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          
        </div>
       
      </div>
       
    </div> 