<br><br><br><br> 

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
       


      <li class="nav-item" *ngFor="let module of allowModules.allowed_modules">
        <a class="nav-link" routerLink="/all-modules/module-list/{{module}}">
          <span class="menu-title">{{module}}</span>
          <i class="mdi mdi-arrow-right-bold-circle menu-icon"></i>
        </a>
      </li>


      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Tickets</span>
          <i class="mdi mdi-ticket-account menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">FAQ</span>
          <i class="mdi mdi-bookmark menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Invoices</span>
          <i class="mdi mdi-apps-box menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Quotes</span>
          <i class="mdi mdi-format-quote-close menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Products</span>
          <i class="mdi mdi-gift menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Services</span>
          <i class="mdi mdi-wrench menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Documents</span>
          <i class="mdi mdi-window-open menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Projects</span>
          <i class="mdi mdi-cellphone-link menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Projects Tasks</span>
          <i class="mdi mdi-chart-areaspline menu-icon"></i>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Assets</span>
          <i class="mdi mdi-flower menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Services Contracts</span>
          <i class="mdi  mdi mdi-archive menu-icon"></i>
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link" routerLink="">
          <span class="menu-title">Documents</span>
          <i class="mdi mdi-animation menu-icon"></i>
        </a>
      </li> -->
        
      
     
    </ul>
  </nav>